<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
         <env name="DB_CONNECTION" value="sqlite"/>
         <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="CACHSMM_API_KEY" value="c79b413f14d762dd61a679830eae3238"/>
        <env name="N1PANEL_API_KEY" value="ddfacbce4c32fdc6f8abd9a35d8fdc35"/>
        <env name="SMSACTIVATE_API_KEY" value="72fc8d54db6955c737bA023792474e7f"/>
        <env name="FASTERSMM_API_KEY" value="4ffe99827f43d1c5eceb9d739c02694a"/>
        <env name="NONVOIP_API_KEY" value="dEUfWPqYHlD877"/>
        <env name="NONVOIP_EMAIL" value="msaderstore@gmail.com"/>
        <env name="SWPRODUCTS_API_KEY" value="8|exZOPQiEKXllapPESxXFWuzgy7X1ECqRlR5PQAIj"/>
        <env name="LORD_API_KEY" value="7ee4138b-e34c-4fdf-9722-8b1dbebfdb2d"/>
        <env name="XPCARD_API_KEY" value="bd0612e6-d27b-4e0e-a97a-6935cf53ade5"/>
        <env name="WDM_API_KEY" value="UjleK3sZOZsMHProQCW5"/>
        <env name="SPEEDCARD_API_KEY" value="UjleK3sZOZsMHProQCW5"/>
        <env name="SAWACARD_API_KEY" value="ce8727c76a37d7cf9b87c5a03342f1a6ea53aafe744a2b66"/>
        <env name="TOP4CARD_API_KEY" value="f013221cc66c1d56062535de2839ba57c59ceb8b2205d33d"/>
        <env name="ONLYSMM_API_KEY" value="c41a3fd8d6a20990f61d8fd37cd5441a"/>
    </php>
</phpunit>
