<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
         <env name="DB_CONNECTION" value="sqlite"/>
         <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="CACHSMM_API_KEY" value="c79b413f14d762dd61a679830eae3238"/>
        <env name="SMSACTIVATE_API_KEY" value="72fc8d54db6955c737bA023792474e7f"/>
        <env name="NONVOIP_API_KEY" value="dEUfWPqYHlD877"/>
        <env name="NONVOIP_EMAIL" value="msaderstore@gmail.com"/>
        <env name="SWPRODUCTS_API_KEY" value="8|exZOPQiEKXllapPESxXFWuzgy7X1ECqRlR5PQAIj"/>
    </php>
</phpunit>
