/* Extra large devices (large desktops, 1800px and up) */
@media (max-width: 1800px) {


}


/* Extra large devices (large desktops, 1800px and up) */
@media (max-width: 1500px) {
    .custom-container,
    .container {
        max-width: 1170px;
    }

    .banner-content {
        margin-left: 0;
    }

    .banner-content .title br {
        display: none;
    }

    .sidebar {
        width: 110px;
        padding: 40px 20px;
    }

    .sidebar.open {
        width: 20%;
    }

    .main-content {
        padding-inline-start: 95px;
    }

    .header-form {
        width: 250px;
        margin-left: 35px;
        padding-left: 35px;
    }

    .banner-area {
        padding: 235px 0 130px;
    }

    .features-img-wrap li:nth-child(1),
    .features-img-wrap li:nth-child(4) {
        width: 49.5%;
        flex: 0 0 49.5%;
    }

    .features-item-wishlist {
        margin-left: 20px;
    }

    .week-features-item {
        padding: 25px 20px;
    }

    .latest-news-content {
        padding: 30px 25px;
    }

    .latest-news-content .title {
        font-size: 17px;
    }

    .latest-news-content .latest-news-meta {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .testimonial--content > p {
        font-size: 17px;
    }

    .filter-wrap form .filter-item {
        margin: 0 25px 15px 0;
    }

    .filter-wrap form .filter-item .title {
        margin-right: 15px;
    }

    .sell-nfts-inner-area .sell-nfts-item {
        padding: 60px 25px 30px;
    }

    .widget-inner {
        border-radius: 10px;
        padding: 25px 20px;
    }

    .sidebar-tags li a {
        font-size: 13px;
        min-width: auto;
        padding: 9px 20px;
    }

    .standard-blog-item {
        margin-right: 0;
    }

    .blog-sidebar {
        margin-left: 15px;
    }

    .rc-post-thumb img {
        width: 100%;
    }

    .activity-table {
        min-width: 945px;
    }

    .welcome-activity {
        padding: 25px 80px 25px 100px;
    }

    .welcome-img-two {
        left: 20px;
    }

    .login-welcome-content {
        width: 48%;
        flex: 0 0 48%;
    }

    .market-single-area .activity-table {
        min-width: 620px;
    }

    .market-single-content {
        margin: 5px 0px 30px;
    }

    .market-single-title-wrap .title {
        font-size: 33px;
    }

}


/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) {
    .sidebar.open {
        width: 100%;
    }

    .custom-container,
    .container {
        max-width: 960px;
    }

    .sidebar {
        padding: 15px 25px;
        left: auto;
        top: auto;
        width: 100%;
        height: 90px;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .sidebar-logo {
        display: none;
    }

    .sidebar-icon ul {
        display: flex;
        flex-direction: row;
    }

    .sidebar-icon ul li {
        margin: 0 25px 0 0;
    }

    .sidebar-icon ul li:nth-child(2) {
        margin-bottom: 0;
        /* padding: 0 25px 0 0; */
    }

    .sidebar-icon ul li:nth-child(2)::before {
        content: "";
        position: absolute;
        left: auto;
        transform: translate(0, 50%);
        right: -2px;
        bottom: 50%;
        width: 4px;
        height: 26px;
        background: var(--secondary-color);
        border-radius: 3px;
    }

    /* .sidebar-icon ul li:last-child {
        margin: 0 0 0 auto;
    } */
    .main-content {
        padding: 0 0 90px;
    }

    .header-form {
        width: 200px;
        margin-left: 25px;
        padding-left: 25px;
    }

    .header-action > ul {
        margin-left: 20px;
    }

    .header-action .header-btn .btn {
        font-size: 12px;
        padding: 16px 24px;
    }

    .navbar-wrap ul li a {
        padding: 35px 14px;
    }

    .banner-content .title {
        font-size: 54px;
    }

    .banner-content p {
        font-size: 15px;
        width: 95%;
    }

    .banner-area {
        padding: 220px 0 95px;
    }

    .latest-news-content .title {
        font-size: 18px;
    }

    .testimonial--content > p {
        font-size: 16px;
    }

    .testimonial-shape-wrap::before,
    .testimonial-shape-wrap::after {
        left: 0;
        width: 240px;
        height: 235px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .testimonial-shape-wrap::after {
        left: auto;
        right: 0;
    }

    .scroll-top.open {
        bottom: 180px;
    }

    .scroll-top {
        right: 20px;
    }

    .category-list li {
        margin: 5px 13px;
    }

    .sell-nfts-inner-area .sell-nfts-item .icon {
        right: 25px;
        top: 25px;
        max-width: 60px;
    }

    .sidebar-tags li a {
        font-size: 14px;
        padding: 10px 22px;
    }

    .blog-sidebar {
        margin-left: 0;
    }

    .standard-blog-content > .title {
        font-size: 28px;
    }

    .avatar-post {
        margin-right: 0;
        padding: 40px 35px 40px 35px;
    }

    .comment-reply-box {
        padding: 45px 30px 50px;
    }

    .welcome-activity {
        padding: 25px 40px 25px 45px;
    }

    .welcome-activity-img {
        left: 25px;
        top: 10px;
        max-width: 165px;
    }

    .welcome-activity-content .title {
        font-size: 26px;
        margin-bottom: 12px;
    }

    .welcome-activity-content p {
        font-size: 15px;
    }

    .activity-table-wrap {
        padding: 30px 30px 30px;
    }

    .welcome-img-two {
        left: 20px;
        top: 10px;
        max-width: 190px;
    }

    .login-welcome-wrap {
        padding: 25px 40px;
    }

    .signup-form-wrap,
    .another-way-signup {
        padding: 30px 25px 35px;
    }

    .another-way-signup p {
        width: 90%;
    }

    .market-single-action {
        margin-left: 0;
    }

    .market-single-title-wrap .title {
        font-size: 27px;
    }

    .market-details-meta {
        margin-top: 10px;
    }

    .market-single-creator {
        display: block;
        padding: 15px 17px;
        margin-bottom: 20px;
        text-align: center;
    }

    .market-single-creator .thumb {
        margin: 0 auto 10px;
    }

    .highest-bid-wrap .highest-bid-avatar {
        margin-bottom: 15px;
    }

}


/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {
    .custom-container,
    .container {
        max-width: 720px;
    }

    .menu-area {
        padding: 25px 0;
    }

    .menu-nav {
        justify-content: space-between;
    }

    .header-action {
        margin-right: 30px;
    }

    .menu-outer .navbar-wrap {
        display: block !important;
    }

    .menu-area .mobile-nav-toggler {
        display: block;
    }

    .menu-trigger,
    .menu-close {
        top: 140px;
    }

    .menu-wrap {
        padding: 15px 25px;
    }

    .menu-area {
        margin-top: 0;
        margin-bottom: -145px;
    }

    .collection-item-thumb img {
        width: 100%;
    }

    .copyright-link-list li {
        padding-right: 9px;
        margin-right: 6px;
    }

    .menu-trigger, .menu-close {
        left: 0;
    }

    .sidebar::-webkit-scrollbar {
        width: auto;
        height: 4px;
    }

    .breadcrumb-bg {
        padding: 210px 0 110px;
    }

    .filter-wrap form .filter-btn {
        margin: 0 0 15px 0;
    }

    .browse-category-sidebar {
        margin-bottom: 80px;
    }

    .blog-sidebar {
        margin-bottom: 40px;
    }

    .blog-details-area .blog-sidebar {
        margin-bottom: 0;
        margin-top: 50px;
    }

    .author-product-meta ul {
        justify-content: center;
    }

    .author-product-meta ul li {
        margin: 0px 7px 10px;
    }

    .author-profile-thumb img {
        width: 100%;
    }

    .activity-sidebar {
        margin-top: 50px;
    }

    .welcome-img-two {
        left: 20px;
        top: 4px;
        max-width: 215px;
    }

    .signup-form-wrap,
    .another-way-signup {
        padding: 25px 20px 25px;
    }

    .signup-form-wrap .form-grp input {
        height: 50px;
        padding: 10px 25px;
    }

    .signup-form-wrap .form-grp {
        margin-bottom: 20px;
    }

    .welcome-img-two {
        max-width: 190px;
    }

    .welcome-rating img {
        max-width: 175px;
    }

    .login-welcome-content {
        width: 60%;
        flex: 0 0 60%;
    }

    .method-wrap {
        margin-top: 40px;
    }

    .market-single-img {
        text-align: center;
        margin-bottom: 30px;
    }

    .market-single-creator {
        display: flex;
        padding: 10px 17px;
        margin-bottom: 20px;
        text-align: left;
    }

    .market-single-creator .thumb {
        margin: 0 10px 0 0;
    }

    .highest-bid-wrap .highest-bid-avatar {
        margin-bottom: 0;
    }

    .market-single-area .activity-table {
        margin-top: 60px;
    }

    .menu-area.market-single-header {
        margin-top: 0;
        margin-bottom: 0;
    }


    select {
        padding: 12px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
    .custom-container,
    .container {
        max-width: 100%;
    }

    .transparent-header {
        top: 0;
    }

    .header-form {
        width: 200px;
        margin-left: 0;
        padding-left: 0;
        margin-right: 20px;
    }

    .header-form::before {
        display: none;
    }

    .header-form {
        display: block;
    }

    .menu-wrap {
        padding: 20px 25px;
    }

    .banner-content .title {
        font-size: 40px;
    }

    .banner-area {
        padding: 190px 0 95px;
    }

    .features-avatar {
        display: block;
    }

    .features-avatar-thumb {
        margin-bottom: 10px;
    }

    .section-button.text-end {
        text-align: left !important;
        margin-top: 15px;
    }

    .latest-news-content {
        left: 10px;
        right: 10px;
        bottom: 10px;
        padding: 25px 20px;
    }

    .latest-news-content .title {
        font-size: 16px;
    }

    .testimonial-shape-wrap::before,
    .testimonial-shape-wrap::after {
        display: none;
    }

    .copyright-link-list {
        justify-content: center;
        margin-top: 7px;
    }

    .sidebar {
        padding: 35px 0 0 0;
        height: 80px;
    }

    .sidebar-icon ul li a {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    .sidebar-icon ul li {
        margin: 0 5px;
        width: 65px;
    }

    /* .sidebar-icon ul li:nth-child(2) {
        margin-bottom: 0;
        padding: 0 20px 0 0;
    } */
    .main-content {
        padding: 0 0 75px;
    }

    .scroll-top {
        display: block;
    }

    /* .menu-area .mobile-nav-toggler {
        margin: 35px 35px 0 0;
    } */
    .banner-content p {
        width: 100%;
    }

    .copyright-text {
        text-align: center;
    }

    .breadcrumb-content .title {
        font-size: 34px;
    }

    .breadcrumb-bg {
        padding: 65px 0 125px;
        width: 100%;
    }

    .breadcrumb-img {
        width: 75%;
    }

    .menu-area {
        padding: 15px 0;
    }

    .standard-blog-content {
        padding: 30px 25px;
    }

    .standard-blog-content > .title {
        font-size: 20px;
    }

    .avatar-post {
        padding: 35px 25px;
        display: block;
        text-align: center;
    }

    .blog-details-content blockquote {
        display: none;
    }

    .blog-details-content .small-title {
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 25px;
    }

    .blog-details-bottom {
        display: block;
    }

    .blog-details-tags {
        width: 100%;
        flex: 0 0 100%;
    }

    .blog-details-social ul {
        justify-content: flex-start;
        margin-top: 10px;
    }

    .post-avatar-img {
        margin: 0 auto 15px;
    }

    .post-avatar-social {
        justify-content: center;
    }

    .blog-next-prev ul {
        flex-wrap: wrap;
    }

    .blog-next-prev ul .blog-next {
        margin-left: auto;
    }

    .blog-next-prev ul .blog-prev {
        margin-right: 20px;
    }

    .comment-reply-box {
        padding: 35px 25px 35px;
    }

    .welcome-activity {
        padding: 25px 25px;
        display: block;
        text-align: center;
    }

    .welcome-activity-img {
        left: 0;
        top: 0;
        max-width: 165px;
        position: unset;
        margin: 0 auto 15px;
    }

    .welcome-activity-content {
        width: 100%;
    }

    .activity-table-wrap {
        padding: 25px 25px 30px;
    }

    .activity-table-nav {
        display: block;
        align-items: center;
        text-align: center;
        margin-bottom: 25px;
    }

    .activity-table-nav .nav-tabs {
        max-width: 238px;
        margin: 20px auto 0;
    }

    .activity-table-nav .nav-item .nav-link {
        padding: 9px 23px;
    }

    .login-welcome-wrap {
        padding: 35px 25px;
        display: block;
        text-align: center;
    }

    .login-welcome-content {
        width: 100%;
        flex: 0 0 100%;
    }

    .welcome-rating {
        margin: 15px auto 0;
    }

    .another-way-signup {
        margin-top: 40px;
    }

    .create-item-form .form-grp input[type="file"] {
        padding: 28px 20px;
    }

    .create-item-form .form-grp input,
    .create-item-form .form-grp textarea {
        padding: 9px 20px;
    }

    .highest-bid-wrap .highest-bid-avatar {
        margin-bottom: 20px;
    }

    .bid-history-wrap .nav .nav-item {
        margin-right: 25px;
    }

    .category-list li {
        margin: 7px 15px;
    }

}


@media (max-width: 460px) {
    .header-form {
        display: none;
    }

    .scroll-top {
        display: none;
    }

    /* .menu-area .mobile-nav-toggler {
        margin: 24px 35px 0 0;
    } */
    .market-single-top {
        display: block;
        margin-bottom: 25px;
    }

    .market-single-action {
        margin-top: 16px;
    }

    .bid-history-list .bid-history-item {
        display: block;
    }

    .bid-history-list .bid-history-item {
        padding: 15px 20px;
    }

    .market-single-top {
        display: block;
        margin-bottom: 25px;
    }

}


/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .custom-container,
    .container {
        max-width: 540px;
    }

    .banner-content .title {
        font-size: 56px;
    }

    .banner-bg {
        background-position: center;
    }

    .banner-content p {
        width: 80%;
    }

    .top-seller-item {
        display: block;
        text-align: center;
    }

    .top-seller-img {
        margin: 0 auto 15px;
    }

    .top-seller-content ul {
        justify-content: center;
    }

    .section-button.text-end {
        text-align: right !important;
        margin-top: 0;
    }

    .testimonial--item {
        padding: 0 20px;
    }

    .scroll-top.open {
        bottom: 85px;
    }

    .breadcrumb-content .title {
        font-size: 40px;
    }

    .sell-nfts-inner-area .sell-nfts-item {
        padding: 60px 30px 35px;
    }

    .standard-blog-content > .title {
        font-size: 26px;
    }

    .signup-form-wrap,
    .another-way-signup {
        padding: 35px 30px 35px;
    }

    .create-item-form .form-grp input[type="file"] {
        padding: 28px 25px;
    }

    .create-item-form .form-grp input,
    .create-item-form .form-grp textarea {
        padding: 9px 25px;
    }

    .bid-history-wrap .nav .nav-item {
        margin-right: 35px;
    }

}


